/* ================== color css ================== */
$color-main:#E13956;
$white:#fff;
$gray50:#f7f9f9;
$gray100:#e8ebed;
$gray200:#c9cdd2;
$gray400:#9ea4aa;
$gray500:#72787f;
$gray600:#454c53;
$gray800:#26282b;
$gray900:#1b1d1f;
