@import "./color.scss";
@import "./common.scss";
/* ================== style css ================== */
$font-large: 3rem;
$font-medium: 1.6rem;
$font-default: 1.2rem;
$font-small: 0.8rem;

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.flex-box {
  display: flex;
}

// .pc-flex-box {
//   display: flex;
// }

.bg-gray50{
  background: $gray50;
}

.card {
  justify-content: space-between;

  .card-con {
    width: 35%;
    height: 50vw;
    padding: 5%;
    border-radius: 15px;
    box-shadow: 3px 3px 7px 3px rgb(0,0,0,0.2);
  }

  .card-tit {
    justify-content: space-between;
    padding: 5% 0;

    h5 {
      width: 70px;
      word-break: break-all;
      font-size: 1.2rem;
      text-align: left;
      padding-top : 5%;
      color: $gray400;
      font-weight: 800;
    }
  }

  .card-text {
    li {
      color: $gray400;
    }
  }
  
  .card-notice {
    background-color: $color-main;

    .card-tit {
      h5 {
        color: $gray50;
      }
    }

    .card-text {
      li {
        color: $gray50;
        line-height: 1.5;
      }
    }

  }
  // .card-text {
  //   li {
  //     color: $gray50;
  //   }
  //   .con {
  //     color: $gray500;
  //   }
  // }
}
