{% if site.data.social.rss or site.theme_settings.rss %}
<li>
    <a feed.xml href="{{ absolute_url }}{{ site.data.social.feed.path | default: 'feed.xml' }}"
       title="{{ site.data.language.str_rss_follow | default: "Follow RSS feed" }}">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}

{% if site.data.social.email_address or site.theme_settings.email_address %}
<li>
    <a href="mailto:{{ site.data.social.email_address }}" title="{{ site.data.language.str_email }}">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}


{% if site.data.social.github or site.theme_settings.github %}
<li>
    <a href="https://github.com/{{ site.data.social.github }}" title="{{ site.data.language.str_follow_on }} GitHub">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}


{% if site.data.social.linkedin or site.theme_settings.linkedin %}
<li>
    <a href="{{ site.data.social.linkedin }}" title="{{ site.data.language.str_follow_on }} LinkedIn">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</li>
{% endif %}
